source/Web.Domain/Service References/MatchGuideService/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" />
  <xs:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Contract" />
  <xs:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" />
  <xs:element name="ClientLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="ClientLoginResult" nillable="true" type="q1:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAutoLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIDTSID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAutoLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="ClientAutoLoginResult" nillable="true" type="q3:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CandidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CandidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="CandidateLoginResult" nillable="true" type="q4:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EContractCandidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EContractId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EContractCandidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Contract" minOccurs="0" name="EContractCandidateLoginResult" nillable="true" type="q5:EContractLoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="ForgotPasswordResult" nillable="true" type="q6:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidForgotPasswordLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forgotPasswordId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidForgotPasswordLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" minOccurs="0" name="IsValidForgotPasswordLinkResult" nillable="true" type="q7:LinkValidationRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forgotPasswordId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="UpdatePasswordResult" nillable="true" type="q8:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platform" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="SendOTPResult" nillable="true" type="q9:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otpCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" minOccurs="0" name="VerifyOTPResult" nillable="true" type="q10:UserDetailsRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTPValidity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platform" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTPValidityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" minOccurs="0" name="VerifyOTPValidityResult" nillable="true" type="q11:UserDetailsRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" minOccurs="0" name="LogoutResult" nillable="true" type="q12:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>