source/Web.Domain/Service References/MatchGuideService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" />
  <xs:complexType name="EContractLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AEEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgreementSubId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CandidateCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CandidateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CandidatePaymentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractEndDate" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" minOccurs="0" name="ContractRate" nillable="true" type="q1:ArrayOfUserEContractPayrateDetailsRes" />
      <xs:element minOccurs="0" name="ContractStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecializationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EContractLoginResponse" nillable="true" type="tns:EContractLoginResponse" />
</xs:schema>