source/Web.Domain/Service References/MatchGuideService/AccountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserEContractPayrateDetailsRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserEContractPayrateDetailsRes" nillable="true" type="tns:UserEContractPayrateDetailsRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserEContractPayrateDetailsRes" nillable="true" type="tns:ArrayOfUserEContractPayrateDetailsRes" />
  <xs:complexType name="UserEContractPayrateDetailsRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEContractPayrateDetailsRes" nillable="true" type="tns:UserEContractPayrateDetailsRes" />
  <xs:complexType name="LinkValidationRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="UserForgotPasswordId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserLoginId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkValidationRes" nillable="true" type="tns:LinkValidationRes" />
  <xs:complexType name="UserDetailsRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortalType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="SpecializationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetailsRes" nillable="true" type="tns:UserDetailsRes" />
</xs:schema>