source/Web.Domain/Service References/MatchGuideService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Common" />
      <xsd:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Contract" />
      <xsd:import schemaLocation="http://mobileinternal2mg.sisystems.com/Gateway/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MatchGuide.BusinessObjects.Account" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_ClientLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ClientLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ClientAutoLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientAutoLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ClientAutoLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientAutoLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CandidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CandidateLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CandidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CandidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_EContractCandidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:EContractCandidateLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_EContractCandidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EContractCandidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsValidForgotPasswordLink_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidForgotPasswordLink" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsValidForgotPasswordLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidForgotPasswordLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SendOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOTP" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SendOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_VerifyOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOTP" />
  </wsdl:message>
  <wsdl:message name="IAccountService_VerifyOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_VerifyOTPValidity_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOTPValidity" />
  </wsdl:message>
  <wsdl:message name="IAccountService_VerifyOTPValidity_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOTPValidityResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="ClientLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ClientLogin" message="tns:IAccountService_ClientLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ClientLoginResponse" message="tns:IAccountService_ClientLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Login" message="tns:IAccountService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/LoginResponse" message="tns:IAccountService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientAutoLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ClientAutoLogin" message="tns:IAccountService_ClientAutoLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ClientAutoLoginResponse" message="tns:IAccountService_ClientAutoLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CandidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CandidateLogin" message="tns:IAccountService_CandidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CandidateLoginResponse" message="tns:IAccountService_CandidateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EContractCandidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/EContractCandidateLogin" message="tns:IAccountService_EContractCandidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/EContractCandidateLoginResponse" message="tns:IAccountService_EContractCandidateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ForgotPassword" message="tns:IAccountService_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ForgotPasswordResponse" message="tns:IAccountService_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidForgotPasswordLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsValidForgotPasswordLink" message="tns:IAccountService_IsValidForgotPasswordLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsValidForgotPasswordLinkResponse" message="tns:IAccountService_IsValidForgotPasswordLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdatePassword" message="tns:IAccountService_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdatePasswordResponse" message="tns:IAccountService_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SendOTP" message="tns:IAccountService_SendOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SendOTPResponse" message="tns:IAccountService_SendOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/VerifyOTP" message="tns:IAccountService_VerifyOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/VerifyOTPResponse" message="tns:IAccountService_VerifyOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyOTPValidity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/VerifyOTPValidity" message="tns:IAccountService_VerifyOTPValidity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/VerifyOTPValidityResponse" message="tns:IAccountService_VerifyOTPValidity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Logout" message="tns:IAccountService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/LogoutResponse" message="tns:IAccountService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebHttpBinding_IAccountService" type="tns:IAccountService">
    <wsdl:operation name="ClientLogin">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientAutoLogin">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CandidateLogin">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EContractCandidateLogin">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IsValidForgotPasswordLink">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="VerifyOTP">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="VerifyOTPValidity">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="WebHttpBinding_IAccountService" binding="tns:WebHttpBinding_IAccountService" />
  </wsdl:service>
</wsdl:definitions>